{% extends "base.html" %}
 {% block content %}
  <div class="container">
      <div class="row justify-content-sm-center">
        <div class = "col-sm-8">
            <h1 class="text-center">Welcome to Sentiment Analysis API</h1>
            <p class="text-center">
                
                <a href="/submit" class="btn btn-info" role="button">Submit text!</a><br><br>
                <a href="/upload" class="btn btn-info" role="button">Upload file!</a><br><br><br><br>
                <img src="/static/emoticon.jpg">
				
				
			
				
				

				
				
            </p>
        </div>
      </div>
  </div>
{% endblock %}
